@using Microsoft.Extensions.Localization
@using Blogifier.Shared.Resources
@using Blogifier.Shared
@inject IStringLocalizer<Resource> _localizer

@{
    ListModel listModel = (ListModel)Model;
    string root = Url.Content("~/");
    
    PostModel _model = (PostModel)Model;
    var request = Url.ActionContext.HttpContext.Request;
    var absoluteUrl = $"{request.Scheme}://{request.Host.ToUriComponent()}{request.PathBase.ToUriComponent()}";

}

@if (listModel.Posts.Count() > 0)
{
    @foreach (var post in listModel.Posts)
    {
        <article class="post-list d-flex">
            <figure class="post-list-cover">
                <img class="post-list-img" src="@absoluteUrl/@post.Cover" alt="@post.Title">
            </figure>
            <section class="post-list-details">
                <h2 class="post-list-title">
                    <a class="post-list-link" href="@absoluteUrl/posts/@post.Slug">@post.Title</a>
                </h2>
                <div class="post-list-meta d-flex">
                    <div class="post-list-meta-item post-list-author">
                        <img class="post-list-author-img" src="@post.Author.Avatar" width="16" height="16" alt="@post.Author.DisplayName">
                        <span class="post-list-author-name">@post.Author.DisplayName</span>
                    </div>
                    <div class="post-list-meta-item post-list-date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-calendar-event post-list-date-icon" viewBox="0 0 16 16">
                            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                        <time class="post-list-date-time">@post.Published.ToFriendlyShortDateString()</time>
                    </div>
                    <a class="post-list-meta-item  post-list-comments" href="@absoluteUrl/posts/@post.Slug#comments" itemprop="discussionUrl" title="Go to the comments section">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="body_1" width="16" height="16" fill="currentColor" fill-rule="nonzero" viewBox="0 0 16 16">

                            <g transform="matrix(0.11 0 0 0.11 0 -0)">
                                <path d="M30.28 110.09L49.37 91.78C 50.079327 91.10407 51.020203 90.72486 52 90.72L52 90.72L112 90.72C 112.573685 90.72267 113.12464 90.495964 113.530304 90.0903C 113.93597 89.68464 114.162674 89.13368 114.16 88.56L114.16 88.56L114.16 9.82C 114.15611 9.248627 113.92599 8.702074 113.520004 8.299999C 113.1161 7.8967466 112.57071 7.6671124 112 7.66L112 7.66L9.82 7.66C 8.640685 7.6961374 7.6915846 8.640865 7.65 9.82L7.65 9.82L7.65 88.55C 7.666253 89.74003 8.62991 90.69925 9.82 90.71001L9.82 90.71001L26.46 90.71001C 28.571344 90.71552 30.280006 92.42866 30.279999 94.54001L30.279999 94.54001L30.279999 110.09001L30.28 110.09zM28.45 63.56C 27.081673 63.560005 25.817287 62.83001 25.133123 61.645004C 24.44896 60.459995 24.44896 59.000008 25.133123 57.815002C 25.817287 56.629997 27.081673 55.9 28.45 55.9L28.45 55.9L81.45 55.9C 83.56525 55.9 85.28 57.614754 85.28 59.730003C 85.28 61.845253 83.56525 63.560005 81.45 63.56zM28.45 38.7C 27.036795 38.77228 25.69888 38.059464 24.970581 36.846222C 24.242283 35.63298 24.242283 34.11702 24.970583 32.903778C 25.698881 31.690536 27.036795 30.977718 28.45 31.050001L28.45 31.050001L93.45 31.050001C 95.48655 31.154167 97.08436 32.83579 97.08436 34.875C 97.08436 36.91421 95.48655 38.595833 93.45 38.7zM53.54 98.36L29.27 121.64C 28.204998 122.80553 26.532703 123.195786 25.061815 122.62205C 23.590927 122.04832 22.624544 120.628815 22.630001 119.05L22.630001 119.05L22.630001 98.36L9.82 98.36C 4.411808 98.3327 0.032808304 93.95817 0 88.55L0 88.55L0 9.82C 0.043504715 4.4146852 4.4146852 0.043504715 9.82 0L9.82 0L112 0C 117.41207 0.027347565 121.79265 4.40793 121.82 9.82L121.82 9.82L121.82 88.55C 121.79805 93.9627 117.41271 98.34356 112 98.36z" stroke="none" />
                            </g>
                        </svg>
                       <span itemprop="commentCount">@post.Comments.Count</span> comments
                    </a>
                    @if(post.Categories != null)
                    {
                    <div class="post-list-meta-item post-list-cat">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-hash post-list-cat-icon" viewBox="0 0 16 16">
                            <path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
                        </svg>
                        @foreach (var cat in post.Categories)
                        {
                            <a class="post-list-cat-title" tabindex="-1" href="@absoluteUrl/categories/@cat.Content">@cat.Content</a>
                        }
                    </div>
                    }
                </div>
                <p class="post-list-desc">@Html.Raw(post.Description)</p>
                <a class="post-list-more" href="@absoluteUrl/posts/@post.Slug" tabindex="-1">
                    Read More
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </a>
            </section>
        </article>
    }
}
else
{
    <div class="h1 text-capitalize">@_localizer["empty"]!</div>
}
